[2018-04-24 20:55] jpgourdine opened #4 "pH in urine by test strip"
Hi Aaron @kingmanzhang I am not sure for the term "pH in urine by test strip" (5803-2) if it is equivalent to impaired urinary acidification. I was not able to flag it or to suggest a term anymore. I annotated with impaired urinary acidification.
Also, there is another "pH in the urine by automated test strip" (50560-2). Are they the same or different ones ?
Thanks

[2018-04-24 21:30] kingmanzhang commented on #4
Hi JP, what do you mean that you were "not able to flag it or to suggest a term"? Why not?

[2018-04-24 21:42] jpgourdine commented on #4
I think I mistook pH in urine by test strip" (5803-2) and "pH in the urine by automated test strip" (50560-2). One is already (5803-2) and the other is not. I will edit a comment on that.

[2018-04-24 21:48] kingmanzhang commented on #4
@jpgourdine There are potentially many similar LOINC tests for similar things. What you observed above is pretty frequent. "pH in urine by test strip" (5803-2) and "pH in the urine by automated test strip" (50560-2) are DIFFERENT lab tests (have different LOINC codes); at the same time, they are testing on the same thing (pH in urine). Generally, those LOINC codes will be annotated to same HPO ter

[2018-04-24 21:50] kingmanzhang commented on #4
I reopen this ticket for other people's input.

[2018-05-05 14:05] pnrobinson opened #5 "Loinc 5770-3: "Bilirubin.total [Presence] in Urine by Test strip"
Added new HPO term Blirubinuria is HP_0031811

[2018-05-05 14:06] pnrobinson opened #6 "Loinc 51703-7: "Ganglioside GM1 IgM Ab [Units/volume] in Serum by Immunoassay""
Anti-ganglioside GM1 IgM antibody positivity is now HP_0031810

[2018-05-05 14:30] pnrobinson opened #7 "Loinc 2276-4: "Ferritin [Mass/volume] in Serum or Plasma""
Note that the HPO serum and plasma term is equivalent, see
https://github.com/obophenotype/human-phenotype-ontology/issues/3557

[2018-05-05 16:02] pnrobinson opened #8 "Hematocrit terms"
see https://github.com/obophenotype/human-phenotype-ontology/issues/3418

[2018-05-05 21:17] pnrobinson opened #9 "Bacteremia"
We can add this Loinc annotation, new HPO term:
HP_0031864

[2018-05-08 20:59] nicolevasilevsky commented on #9
what do we do if an annotation is wrong and we want to change it? I see there is an annotation on LOINC 600-7 Bacteria identified in Blood by Culture, which is currently annotated with Recurrent staphylococcal infections, and I think this should be annotated with bacteremia instead.

[2018-05-08 21:04] nicolevasilevsky commented on #5
added annotation in LOINC

[2018-05-08 21:04] #5 closed

[2018-05-08 21:05] nicolevasilevsky commented on #6
added annotation in LOINC

[2018-05-08 21:05] #6 closed

[2018-05-10 21:42] nicolevasilevsky commented on #9
Ok - i think I overwrote the original annotation with the new one. @kingmanzhang would you mind double checking?

[2018-05-11 12:25] kingmanzhang commented on #9
@nicolevasilevsky  I looked at your commit. It appears you did have overwritten the old annotation, (which I created for demo purposes before "bacteremia" was available)

[2018-05-11 12:25] #9 closed

[2018-05-11 16:03] nicolevasilevsky commented on #9
awesome! glad it's working. :)

[2018-05-13 14:00] pnrobinson opened #12 "CSF glucose terms"
See
https://github.com/obophenotype/human-phenotype-ontology/issues/3615

[2018-05-13 14:04] pnrobinson opened #13 "Abnormal CSF protein terms"
see https://github.com/obophenotype/human-phenotype-ontology/issues/3614

[2018-05-13 14:57] pnrobinson opened #14 "lipoprotein cholesterol terms"
https://github.com/obophenotype/human-phenotype-ontology/issues/3612

please use revised primary labels (make new local)

[2018-05-13 14:59] pnrobinson commented on #14
includes
https://github.com/obophenotype/human-phenotype-ontology/issues/3611
https://github.com/obophenotype/human-phenotype-ontology/issues/3612
https://github.com/obophenotype/human-phenotype-ontology/issues/3610
https://github.com/obophenotype/human-phenotype-ontology/issues/3609
https://github.com/obophenotype/human-phenotype-ontology/issues/3608

[2018-05-15 01:13] nicolevasilevsky commented on #13
these were added

[2018-05-15 01:18] nicolevasilevsky opened #15 "group annotations together"
@kingmanzhang would it be possible to create a functionality where you could annotate multiple LOINC codes at once? For example, there are a bunch of glucose measurements in urine (or blood) at various time points. I pasted a screenshot below. It would be nice if we could annotate these in bulk, rather than one at a time.

![image](https://user-images.githubusercontent.com/6722114/40031152-4c0a77a

[2018-05-15 11:52] kingmanzhang commented on #15
Technically that's easy to implement. I will code it up today and let you try out.

[2018-05-15 11:53] nicolevasilevsky commented on #15
Cool, thanks!

[2018-05-17 21:11] nicolevasilevsky commented on #15
No worries, no rush!

[2018-05-19 14:31] pnrobinson opened #17 "Loinc 3193-0: "Coagulation factor V activity actual/normal in Platelet poor plasma by Coagulation assay""
see https://github.com/obophenotype/human-phenotype-ontology/issues/3633

[2018-05-19 14:41] pnrobinson commented on #17
See Abnormal coagulation factor V activity

[2018-05-19 14:41] pnrobinson opened #18 "Loinc 21582-2: "Tryptase [Mass/volume] in Serum or Plasma"
https://github.com/obophenotype/human-phenotype-ontology/issues/3632

[2018-05-19 15:30] pnrobinson opened #19 "Complement total hemolytic CH50"
see https://github.com/obophenotype/human-phenotype-ontology/issues/3631

[2018-05-19 15:37] pnrobinson opened #20 "Loinc 49781-8: "Mitochondria M2 Ab [Units/volume] in Serum"
see https://github.com/obophenotype/human-phenotype-ontology/issues/3628

[2018-05-21 19:24] nicolevasilevsky opened #21 "question about increased/decreased/abnormal fields"
I don't understand why sometimes you see an abnormal field and increased and decreased fields for LOINC annotations, and something there is just abnormal and increased only?

[2018-05-21 21:10] pnrobinson commented on #21
If something is normally not present at all then it cannot be abnormally reduced!

[2018-05-22 17:02] nicolevasilevsky commented on #21
So, for the codes with Glucose‐6‐phosphate dehydrogenase, many of the codes only gave me a abnormal or high value field.

I'm did some more research about lab tests for Glucose‐6‐phosphate dehydrogenase, and it seems that sometimes the enzyme is decreased (like in anemia, it is decreased in red blood cells) and sometimes it is increased (like in adipose cells in obese patients, or in [tumor cells

[2018-05-22 17:18] nicolevasilevsky commented on #21
According to this [paper](https://iubmb.onlinelibrary.wiley.com/doi/full/10.1002/iub.137), in table 1, there is sometimes increased activity of G6DP (but they don't say where it is measured). So maybe it is okay to keep the increased level terms?

Looks like the LOINC codes also detect the presence and activity. So we need abnormal activity terms too (increased and decreased)?

[2018-05-30 01:41] kingmanzhang commented on #21
I am not sure I understand everything you said. When did you not see low value field for G6DP? I turned off low value field if the LOINC code has "presence/absence" outcome (LOINC name has "Presence" in square bracket). In this case, the outcome can only be positive/present, or negative/absent.

[2018-06-08 13:59] kingmanzhang commented on #15
addressed

[2018-06-08 13:59] #15 closed

[2018-07-07 14:33] pnrobinson opened #24 "Anion gap term added -- add loinc annotation"
https://github.com/obophenotype/human-phenotype-ontology/issues/3506

[2018-07-07 14:39] pnrobinson opened #25 "Add ALT annotation"
https://github.com/obophenotype/human-phenotype-ontology/issues/3497

[2018-07-07 14:46] pnrobinson opened #26 "RBC distribution width"
https://github.com/obophenotype/human-phenotype-ontology/issues/3492

[2018-07-07 15:15] pnrobinson opened #27 "Add AST annotation"
https://github.com/obophenotype/human-phenotype-ontology/issues/3507

[2018-07-07 23:25] pnrobinson opened #28 "cloudy urine"
https://github.com/obophenotype/human-phenotype-ontology/issues/3423

[2018-07-07 23:33] pnrobinson opened #29 "BUN terms"
https://github.com/obophenotype/human-phenotype-ontology/issues/3417

[2018-07-09 01:36] pnrobinson opened #30 "urate in serum/blood"
https://github.com/obophenotype/human-phenotype-ontology/issues/3553

[2018-07-10 01:53] pnrobinson opened #31 "Ammonia terms == do not map"
https://github.com/obophenotype/human-phenotype-ontology/issues/3616

[2018-07-17 16:17] nicolevasilevsky commented on #31
I annotated some of the ammonia terms as 'unableto_annotate'.

I have questions about a few of them:
1. Latex glove extract ammoniated IgE Ab RAST class [Presence] in Serum (or blood) -> _should this be unable to annotate?_
  a. There is also Latex glove extract ammoniated IgE Ab [Units/volume] in Serum
2. Ammonia nitrogen [Mass/time] in 24 hour urine -> _should I make a NTR?_
3. Carbamoyl phospha

[2018-07-17 16:49] nicolevasilevsky opened #32 "New feature request - bulk annotate 'unspecified' terms"
See https://github.com/obophenotype/human-phenotype-ontology/issues/3588#issuecomment-403252288

@kingmanzhang would there be a way to bulk annotate terms that have unspecified specimens, as unableto_annotate? There are lots of these and annotating them one by one will take a while!

[2018-07-24 19:19] kingmanzhang opened #33 "clusters of LOINC tests"
Many LOINC tests are about the same medical problem. If we each focus on a couple and read relevant literature thoroughly, we will be able to annotate more efficiently. I suggest each (or two) of us pick a couple topics and address all related LOINC tests (using "search" to get all related LOINC tests).

- [ ] transferrin/ion: iron,iron binding capacity, transferrin free, transferrin capacity, tra

[2018-07-24 19:20] jpgourdine commented on #33
@kingmanzhang sound good, I will go for the metabolomics related terms (urinalysis and blood acidity)

[2018-07-24 19:30] kingmanzhang opened #34 "peptide releasing experiments"
For stimulated peptide release experiments, such as C peptide release upon glucose stimulation, @pnrobinson  you annotated all of them to "Abnormal C peptide level". Is this really what we want to annotate? I think they are testing beta cell function. There are other similar tests, such as prolactin secretion upon stimulation, Thyroxine release upon stimulation etc that will follow the same logic.

[2018-07-24 19:38] kingmanzhang opened #35 "viral infection"
There are many tests on viral antigen or presence of anti-viral antibodies. Do we want to create term for each? We could map all such tests to Severe viral infection for now and create HPO terms in future.
e.g.
HSV IgM Ab in serum
HBV core Ag
HBV surface Ag
HSV 1 Ag
...

[2018-07-24 20:55] kingmanzhang commented on #33
I studied endocrine peptide secretion before so I will take care of this.

[2018-07-24 21:51] nicolevasilevsky commented on #33
I'll take blood cells in urine and immune cell types in blood

[2018-07-25 15:22] kingmanzhang commented on #32
addressed.

[2018-07-25 15:22] #32 closed

[2018-07-26 00:31] nicolevasilevsky opened #36 "question about LOINC code CD4+CD25+ cells in blood"
There are a couple codes:
CD4+CD25+ cells/100 in blood
CD4+CD25+ cells [#volume] in blood

There is the class HP_0030335 'Abnormal CD4-positive, CD25-positive, alpha-beta regulatory T cell count'

but I remember colleagues in graduate school saying that you couldn't call a CD4+CD25+ cell a Treg unless you had also demonstrated it was functionality as well, ie, these markers are not enough.

Should

[2018-07-30 21:52] nicolevasilevsky commented on #33
for the CD terms, see related ticket: https://github.com/obophenotype/human-phenotype-ontology/issues/4014

[2018-07-31 18:42] kingmanzhang opened #37 "Reverse of presence / absence"
Noticed this LOINC test:
27088-4 Folate [Presence] in Blood
Normally folate should be present as it is an essential nutrient. Low folate is called "Folate deficiency" in HPO. So in this case,
positive = Normal
negative = Abnormal
(opposite to most Ord tests)
This might not affect anything we did, but just want to remind you this fact.
@pnrobinson @aeyates

[2018-08-25 12:27] pnrobinson opened #39 "Sputum eosinophilia"
see if there is a LOINC code for this.
https://github.com/obophenotype/human-phenotype-ontology/issues/4008

[2018-08-29 20:04] nicolevasilevsky commented on #39
there is:

- Loinc: 10327-5 [Eosinophils/100 leukocytes in Sputum by Manual count]
- Loinc: 29993-3 [Eosinophils [Presence] in Sputum by Wright stain]
- Loinc: 30381-8 [Eosinophils/100 leukocytes in Sputum]

[2018-09-25 21:31] kingmanzhang opened #41 "coagulation assays"
@nicolevasilevsky @LCCarmody Are you familiar with this topic? There are a ten of assays for them.

[2018-09-25 21:50] nicolevasilevsky commented on #41
I'll look into it.

[2018-09-26 16:18] LCCarmody commented on #41
I know a little about platelet activation but not too much.  What are the assays?

[2018-09-26 16:28] nicolevasilevsky commented on #41
I'll list some examples below:

- [x] Loinc: 12185-5 [aPTT in Control Blood by Coagulation assay]
- [x]  Loinc: 13050-0 [Protein C/Coagulation factor IX [Mass Ratio] in Platelet poor plasma]
- [ ]  Loinc: 13058-3 [aPTT in Platelet poor plasma by Coagulation assay --2nd specimen]
- [ ]  Loinc: 3173-2 [aPTT in Blood by Coagulation assay]
- [ ] Loinc: 13591-3 [Factor inhibitor XXX [Units/volume] in P

[2018-09-26 16:38] LCCarmody commented on #41
This article seems helpful, but I will have to read closer: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4417204/

[2018-09-26 18:18] LCCarmody commented on #41
For that test, Wikipedia is helpful: "The typical reference range is between 30 seconds and 50 s (depending on laboratory). Shortening of the PTT is considered to have little clinical relevance, but some research indicates that it might increase risk of thromboembolism.[3]"

We have the term HP:0003645-prolonged partial thrombinplastin time.  I don't know if we want a shortened PPT based on this.

[2018-09-28 23:27] pnrobinson opened #42 "CBC HPO Terms added for LOINC"
@kingmanzhang  -- I think we now have all terms needed for the CBC

https://github.com/obophenotype/human-phenotype-ontology/issues/3863

https://github.com/obophenotype/human-phenotype-ontology/issues/3510

https://github.com/obophenotype/human-phenotype-ontology/issues/3490

[2018-10-08 20:00] jpgourdine opened #43 "Please remove annotation 43089-2"
Hi @kingmanzhang , I made a mistake on 43089-2, it is for all Ab not IgE only.
I was not able to make a correction.
Thanks

[2018-10-08 20:51] kingmanzhang commented on #43
Use the second tab, from the line for 43089-2, right click and delete it.

On Mon, Oct 8, 2018 at 4:00 PM jpgourdine <notifications@github.com> wrote:

--

[2018-10-09 15:54] jpgourdine commented on #43
Thanks @kingmanzhang

[2018-10-09 15:54] #43 closed

[2018-10-12 17:59] #8 closed

[2018-10-12 17:59] kingmanzhang commented on #8
resolved

[2018-10-12 18:45] kingmanzhang commented on #42
resolved

[2018-10-12 18:45] #42 closed

[2018-11-22 13:27] pnrobinson opened #47 "Leukocytes in urine"
See https://github.com/obophenotype/human-phenotype-ontology/issues/4138

[2018-11-22 16:44] pnrobinson opened #48 "Hemoglobin C"
https://github.com/obophenotype/human-phenotype-ontology/issues/3645

[2018-12-09 14:07] pnrobinson opened #49 "folate terms can now be annotated"
See https://github.com/obophenotype/human-phenotype-ontology/issues/4019

[2018-12-09 16:08] kingmanzhang commented on #49
done

[2018-12-09 16:08] #49 closed

[2019-01-10 20:45] callahantiff opened #50 "International Normalized Ratio (INR) in platelet poor plasma by coagulation assay (LOINC: 6301-6)"
This LOINC code is currently annotated to HP:0003540 (impaired platelet aggregation). This HPO concept is defined as "An impairment in the rate and degree to which platelets aggregate after the addition of an agonist that stimulates platelet clumping. Platelet aggregation is measured using aggregometer to measure the optical density of platelet-rich plasma, whereby platelet aggregation causes the

[2019-01-10 20:52] callahantiff opened #51 "Tomato IgE Ab [Units/volume] in Serum (6266-1)"
This LOINC code has been annotated to HP:0410238 (Increased anti-plant product IgE antibody level).  This concept is defined as "Increased level of IgE antibody against antigens from plants and products derived from plants, such as wood or pollen."

Should it instead be annotated to HP:0410228 (Increased anti-plant based food allergen IgE antibody level)?

[2019-01-10 21:08] callahantiff opened #52 "American house dust mite IgE Ab [Units/volume] in Serum (6095-4)"
This LOINC term is annotated to HP:0410248 (Increased anti-house dust IgE antibody level).

Would it be more correct to annotate this LOINC term to HP:0410223 (Increased anti-dust mite IgE antibody level) instead?

[2019-01-11 00:21] callahantiff opened #53 "Erythrocyte distribution width [Ratio] by Automated count (788-0)"
LOINC term is annotated to HP:0031965 (Increased RBC distribution width). There is no term for decreased RBC distribution width in the HPO. Can this be annotated to the nearest ancestor concept HP:0001877 (Abnormal erythrocyte morphology)?

[2019-01-11 00:33] callahantiff commented on #53
That's a good question. I found this [post](https://www.researchgate.net/post/What_is_the_significance_of_low_RDW_RBC_Distribution_Width_particularly_in_the_presence_of_normal_blood_profiles) from ResearchGate to be helpful. One particular post states, "A low RDW (below 10.2%) means that the red blood cells vary very little in size. One reason for a low RDW level is macrocytic anemia. Another caus

[2019-01-11 00:37] pnrobinson commented on #53
I will try to run this down. A quick glance shoed the opposite actually,
https://www.ncbi.nlm.nih.gov/pubmed/22187759
https://watermark.silverchair.com/labmed30-0538.pdf?token=AQECAHi208BE49Ooan9kkhW_Ercy7Dm3ZL_9Cf3qfKAc485ysgAAAk0wggJJBgkqhkiG9w0BBwagggI6MIICNgIBADCCAi8GCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMPkSgUYkbpE5X4LIkAgEQgIICAD0lPd6Tpn_t3azTDRYoIoMqEEakcmbNTth6-yBMr48cgFnvTnKSjUbunXPghdekLYpj

[2019-01-11 01:04] callahantiff opened #54 "20658-1: Threonine [Moles/volume] in Serum or Plasma"
This LOINC code has been annotated to HP:0003296 (Hyperthreoninuria). I think the correct annotation for this LOINC code is HP:0003354 (Hyperthreoninemia).

[2019-01-11 01:06] callahantiff commented on #53
Oh interesting! I will also keep searching and will make a note to ask the clinician-annotators I have been working with.

[2019-01-11 18:00] callahantiff opened #55 "2502-3: Iron saturation [Mass Fraction] in Serum or Plasma"
This LOINC term is annotated to HP:0040303 (Decreased serum iron). The test is measuring iron saturation, which is different than than a test which measures serum iron (e.g. [LOINC 2498-4](https://r.details.loinc.org/LOINC/2498-4.html?sections=Comprehensive)).

I may be interpreting [this](http://www.hematology.org/Patients/Anemia/Iron-Deficiency.aspx#a3) incorrectly, but serum iron and iron satur

[2019-01-12 14:38] pnrobinson opened #56 "Loinc 13335-5: "CD4+CD29+ cells/100 cells in Blood"
Added HPO terms for this (memory T cell)
https://github.com/obophenotype/human-phenotype-ontology/issues/3992

[2019-01-19 15:36] pnrobinson opened #57 "INR terms"
Please see
https://github.com/obophenotype/human-phenotype-ontology/issues/3511

[2019-01-20 15:26] pnrobinson opened #58 "Loinc: 83099-2 [Galectin 3 [Mass/volume] in Serum or Plasma by Immunoassay]"
https://github.com/obophenotype/human-phenotype-ontology/issues/3639

[2019-01-20 16:22] pnrobinson opened #59 "Loinc 35334-2: "Collagen crosslinked N-telopeptide [Moles/volume] in 24 hour Urine"
see https://github.com/obophenotype/human-phenotype-ontology/issues/3646

[2019-01-20 20:43] pnrobinson opened #60 "Loinc 3051-0: "Triiodothyronine (T3) Free [Mass/volume] in Serum or Plasma"
see https://github.com/obophenotype/human-phenotype-ontology/issues/3786

[2019-01-20 21:09] pnrobinson opened #61 "Loinc 33219-7: "Epithelial cells.squamous [#/area] in Urine sediment by Automated count""
see https://github.com/obophenotype/human-phenotype-ontology/issues/3607

[2019-01-21 14:44] kingmanzhang commented on #58
done

On Sun, Jan 20, 2019 at 10:26 AM Peter Robinson <notifications@github.com>
wrote:

--

[2019-01-21 14:46] kingmanzhang commented on #61
done

On Sun, Jan 20, 2019 at 4:09 PM Peter Robinson <notifications@github.com>
wrote:

--

[2019-01-21 14:54] #61 closed

[2019-01-21 14:54] #60 closed

[2019-01-21 14:54] #58 closed

[2019-01-21 14:58] #59 closed

[2019-01-21 14:58] kingmanzhang commented on #59
done

[2019-01-21 14:58] kingmanzhang commented on #57
done

[2019-01-21 14:58] #57 closed

[2019-01-21 15:00] kingmanzhang commented on #56
done

[2019-01-21 15:00] #56 closed

[2019-01-21 15:07] kingmanzhang commented on #55
I think the biology is different but the annotation is probably fine. Iron is transported by transferrin, so low saturation roughly means low serum iron (?).

https://emedicine.medscape.com/article/2087960-overview

[2019-01-21 15:09] kingmanzhang commented on #54
You are correct. Corrected now.

[2019-01-21 15:09] #54 closed

[2019-01-21 15:12] kingmanzhang commented on #52
@nicolevasilevsky @pnrobinson Maybe change the label of HP:0410248  to *Increased anti-house dust mite IgE antibody level*?

[2019-01-21 15:18] kingmanzhang commented on #50
revised according to https://github.com/obophenotype/human-phenotype-ontology/issues/3511

[2019-01-21 15:22] kingmanzhang commented on #48
done

[2019-01-21 15:22] #48 closed

[2019-01-21 15:24] kingmanzhang commented on #39
done

[2019-01-21 15:24] #39 closed

[2019-01-21 15:26] kingmanzhang commented on #47
done

[2019-01-21 15:26] #47 closed

[2019-01-21 15:27] kingmanzhang commented on #29
done

[2019-01-21 15:27] #29 closed

[2019-01-21 15:28] kingmanzhang commented on #30
done

[2019-01-21 15:28] #30 closed

[2019-01-21 15:33] kingmanzhang commented on #28
We have to leave this open for now. LOINC 32167-9 Clarity of Urine is a Nom type assay. We don't yet know what is reported.

[2019-01-21 15:33] #25 closed

[2019-01-21 15:34] kingmanzhang commented on #27
done

[2019-01-21 15:34] #27 closed

[2019-01-21 15:34] kingmanzhang commented on #20
done

[2019-01-21 15:34] #20 closed

[2019-01-21 15:37] kingmanzhang commented on #18
done

[2019-01-21 15:37] #18 closed

[2019-01-21 15:37] kingmanzhang commented on #24
done

[2019-01-21 15:37] #24 closed

[2019-01-21 15:38] kingmanzhang commented on #7
done

[2019-01-21 15:38] #7 closed

[2019-01-21 15:39] kingmanzhang commented on #21
I am closing it for now.

[2019-01-21 15:39] #21 closed

[2019-01-21 15:40] kingmanzhang commented on #19
done

[2019-01-21 15:40] #19 closed

[2019-01-24 00:04] nicolevasilevsky commented on #52
I updated the label to 'Increased anti-house dust mite IgE antibody level', and made 'Increased anti-dust mite IgE antibody level' a synonym.

[2019-01-24 00:04] #52 closed

[2019-01-26 14:54] pnrobinson opened #62 "Loinc 728-6: "Hypochromia"
see https://github.com/obophenotype/human-phenotype-ontology/issues/3563

[2019-01-26 17:13] pnrobinson opened #63 "Loinc 13969-1: "Creatine kinase.MB [Mass/volume] in Serum or Plasma"
Added terms for creatine kinase MM, BB, MB isoforms-- all of them should have LOINC terms.

[2019-01-26 17:17] pnrobinson opened #64 "Loinc 17588-5: "Sjogrens syndrome-B extractable nuclear IgG Ab [Presence] in Serum by Immunoassay""
added term, see https://github.com/obophenotype/human-phenotype-ontology/issues/3634

[2019-01-26 17:32] pnrobinson opened #65 "Loinc 739-3: "Metamyelocytes [#/volume] in Blood by Manual count"
see terms for 3 kinds of immature neutrophils, here
https://github.com/obophenotype/human-phenotype-ontology/issues/3625

[2019-01-26 18:42] pnrobinson opened #66 "Loinc 32799-9: "Glycosaminoglycans/Creatinine [Mass Ratio] in Urine"
https://github.com/obophenotype/human-phenotype-ontology/issues/3603

we can add this annotation.
If the result is high -- call the term https://hpo.jax.org/app/browse/term/HP:0003541
if the result is low or normal, call NOT https://hpo.jax.org/app/browse/term/HP:0003541

[2019-01-27 17:17] pnrobinson opened #67 "Loinc 5631-7: "Copper [Mass/volume] in Serum or Plasma"
added HPO term for
https://github.com/obophenotype/human-phenotype-ontology/issues/3788

[2019-01-27 17:23] pnrobinson opened #68 "Loinc 14118-4: "Lactate [Mass/volume] in Serum or Plasma"
see

https://github.com/obophenotype/human-phenotype-ontology/issues/3784

[2019-01-27 21:57] pnrobinson opened #69 "Loinc 29881-0: "2-Hydroxyglutarate [Presence] in Urine"
see https://github.com/obophenotype/human-phenotype-ontology/issues/4120

[2019-02-01 17:42] callahantiff commented on #55
I think my initial question was not worded clearly, sorry about that.

What I meant to ask was why increased and decreased iron saturation (2502-3) lab results were being annotated to HPO terms that measured iron serum? I am asking this because there are HPO terms ([HP:0012464](https://hpo.jax.org/app/browse/term/HP:0012464) and [HP:0012463](https://hpo.jax.org/app/browse/term/HP:0012463)) that me

[2019-02-01 19:44] kingmanzhang commented on #55
In this case, annotating to your suggest HPO terms sounds more precise. I will relay this to @LCCarmody to see if she agrees. It is possible that your suggested classes are new.

[2019-02-01 19:46] callahantiff commented on #55
Thanks Aaron, that sounds great. I'm wondering if I should add the dates that HPO terms were added when posting issues, but only if that would be helpful.

[2019-02-09 01:04] callahantiff opened #71 "Annotating pulmonary function labs"
There are several LOINC codes which are measures of pulmonary function (e.g.  [20159-9](https://r.details.loinc.org/LOINC/20159-9.html?sections=Comprehensive), [20155-8](https://r.details.loinc.org/LOINC/20155-8.html?sections=Comprehensive), [19870-5](https://r.details.loinc.org/LOINC/19870-5.html?sections=Comprehensive), [19877-4](https://r.details.loinc.org/LOINC/19877-4.html?sections=Comprehens

[2019-02-09 01:36] callahantiff opened #72 "LOINC tests that measure ratios or fractions"
There are a large number of LOINC tests that measure a ratio (e.g. [LOINC 30065-7](https://r.details.loinc.org/LOINC/30065-7.html?sections=Comprehensive): Cystine/Creatinine [Ratio] in Urine).

@pnrobinson, @nicolevasilevsky mentioned that these types of labs are not currently annotated. Do you anticipate annotating them in the future? Some of these labs are particularly important for diagnosing/c

[2019-02-09 02:06] callahantiff opened #73 "Cerebrospinal fluid amino acid LOINC tests"
@pnrobinson, many of the cerebrospinal fluid amino acid tests have not yet been annotated to HPO terms. I am hesitant to annotate all of these lab tests as only being an abnormality of the cerebrospinal fluid (HP:0002921) as it would remove important specificity.

An alternative to creating new HPO terms could be annotating multiple existing HPO terms to a lab test. For example,  [LOINC 22657-1: A

[2019-02-09 18:51] pnrobinson commented on #73
Hi Tiffany -- "Circulating" means (in this case) in the blood circulation and so this would not work. I am less concerned about making new HPO terms, especially if these tests are being used in practice!

[2019-02-09 18:53] pnrobinson commented on #72
SInce the HPO terms are qualitative, can we annotate this simply to Cystinuria? (i.e., both Increased Cystine in Urina and increased ratio?)

[2019-02-09 18:54] callahantiff commented on #73
Yes, sorry that was not the best example. OK, so in this situation, since I am specifically mapping terms from our EHR, I should try suggesting a new term? I just want to make sure I am consistent with your current procedures/philosophy/plan for the HPO.

[2019-02-09 18:56] pnrobinson commented on #73
I would suggest let's go through these issues and then find some time to skype? In general the suggestions look great!

[2019-02-09 18:58] callahantiff commented on #73
That sounds great. We have some time on your schedule for this exact type of thing (later this month). Looking forward to it!

[2019-02-11 21:38] callahantiff commented on #72
I think that would be totally reasonable for that particular lab.

There are several other ratio tests  (e.g. *Ornithine/Creatinine [Ratio] in Urine, Methionine/Creatinine [Ratio] in Urine*) and ratio mass tests (e.g. *Orotate/Creatinine [Mass Ratio] in Urine, N-octanoylglycine/Creatinine [Mass Ratio] in Urine*) in urine we have results for.

Would we do the same type of thing? If it is easier, I

[2019-02-12 20:44] kingmanzhang opened #75 "786-4"
merge in
786-4	Qn	Survey	L	HP:0025547	FALSE	2019-02-01T19:41:55	UCD:tjcallahan	NA	NA	0.1	TRUE	UCDenver survey results
786-4	Qn	Survey	H	HP:0025548	FALSE	2019-02-01T19:41:47	UCD:tjcallahan	NA	NA	0.1	TRUE	UCDenver survey results

[2019-02-12 20:47] kingmanzhang opened #76 "4563-3"
merge in
4563-3	Qn	Survey	N	HP:0011902	TRUE	2019-02-11T11:08:58	UCD:tjcallahan	NA	NA	0.1	FALSE	UCDenver survey results. Ratio term (GitHub issue #72)
4563-3	Qn	Survey	H	HP:0011902	FALSE	2019-02-11T11:08:58	UCD:tjcallahan	NA	NA	0.1	FALSE	UCDenver survey results. Ratio term (GitHub issue #72)

[2019-02-12 21:35] kingmanzhang commented on #76
done

[2019-02-12 21:35] #76 closed

[2019-02-12 21:39] kingmanzhang commented on #75
done

[2019-02-12 21:39] #75 closed

[2019-02-12 22:02] kingmanzhang commented on #66
done

[2019-02-12 22:02] #66 closed

[2019-02-12 22:05] kingmanzhang commented on #69
done

[2019-02-12 22:05] #69 closed

[2019-02-12 22:07] kingmanzhang commented on #68
@nicolevasilevsky please double check.

[2019-02-12 22:11] kingmanzhang commented on #63
Do we need low terms?
https://www.ncbi.nlm.nih.gov/pubmed/8730112

[2019-02-12 23:24] pnrobinson opened #77 "Loinc 27365-6: "Kappa light chains [Mass/volume] in Urine""
see
https://github.com/obophenotype/human-phenotype-ontology/issues/3647

also do lambda

[2019-02-12 23:32] pnrobinson opened #78 "Loinc 30152-3: "Mannose-binding protein [Mass/volume] in Serum""
see https://github.com/obophenotype/human-phenotype-ontology/issues/4102

HP_0032306 etc.

[2019-02-13 01:57] nicolevasilevsky commented on #68
this term has been annotated, I think we can close this

[2019-02-13 01:57] #68 closed

[2019-02-13 02:01] kingmanzhang opened #79 "13969-1 editing error"

[2019-02-13 02:06] #79 closed

[2019-02-13 02:06] kingmanzhang commented on #79
fixed.

[2019-02-13 18:11] jpgourdine commented on #78
Hi  Aaron

I am setting up my new computer for LOINC, I got this error

(java.lang.NoClassDefFoundError: javafx/application/Application)

Do you have some free time before between now and 2PM EST?

If not, we can try later tomorrow?

Thanks

From: Xingmin Aaron Zhang <notifications@github.com>
Reply-To: TheJacksonLaboratory/loinc2hpoAnnotation <reply@reply.github.com>
Date: Tuesday, February 12, 2

[2019-02-14 11:03] pnrobinson opened #80 "NTR: Increased circulating globulin level"
see https://github.com/obophenotype/human-phenotype-ontology/issues/4358

[2019-02-18 13:51] pnrobinson opened #81 "11-Deoxycortisol and related"
see
https://github.com/obophenotype/human-phenotype-ontology/issues/4118
https://github.com/obophenotype/human-phenotype-ontology/issues/4117
https://github.com/obophenotype/human-phenotype-ontology/issues/4119

[2019-02-18 20:26] pnrobinson commented on #63
I wasnt that familiar with this but it looks like we need a low total CK term. Probably not for the isoforms.

[2019-02-19 20:01] #78 closed

[2019-02-19 20:54] callahantiff commented on #73
Agreed during the meeting to add new HPO terms for all amino acid CSF tests. @nicolevasilevsky and I will work on getting these terms submitted.

[2019-02-19 20:56] callahantiff commented on #71
@nicolevasilevsky and I will create new terms for each of the pulmonary function tests and will only use **Abnormality On Pulmonary Function Testing (HP:0030878)** as an ancestor or when needed for annotating *normal* lab results.

[2019-02-19 21:29] callahantiff commented on #32
@pnrobinson following up on our conversation today, I investigated a sample of these types of LOINC codes in our database and found that their frequency of use in practice ranged widely (see below):
  - LOINC 20599-7   (n=9024)
  - LOINC 20593-0 (n=6028)
  - LOINC 20592-2 (n=5869)
  - LOINC 35663-4 (n=5400)
  - LOINC 22743-9 (n=4924)
  - LOINC 47797-6 (n=4893)
  - LOINC 47725-7 (n=4818)
  - LOINC

[2019-02-19 21:33] pnrobinson opened #82 "Fix annotations with flag"
cd to `` loinc2hpoAnnotation/Data/TSVSingleFile`` and try
[code]

[2019-02-19 21:33] callahantiff commented on #72
@nicolevasilevsky and I will work on adding new terms for all LOINC codes that measure an amino acid/creatine ratio.

[2019-02-19 22:44] callahantiff opened #83 "LOINC 22733-0: Phosphate [Moles/volume] in Unspecified specimen (Remove)"
This lab is a measure of an **Unspecified specimen**, the original annotations for the following results should be removed for reasons described in **issue #32**:
  - LOINC 22733-0 (Normal) annotated to HP:0100529
  - LOINC 22733-0 (Low) annotated to HP:0100529

[2019-02-19 22:46] callahantiff opened #84 "LOINC 26466-3: Leukocytes [#/volume] in Body fluid (Remove)"
This lab is a measure of an **Unspecified specimen, body fluid, or substance**, the original annotations for the following results should be removed for reasons described in **issue #32**:
  - LOINC 26466-3 (Normal) annotated to HP:0011893
  - LOINC 26466-3 (Low) annotated to HP:0001882
  - LOINC 26466-3 (High) annotated to HP:0001974

[2019-02-19 22:48] callahantiff opened #85 "LOINC 26455-6: Erythrocytes [#/volume] in Body fluid (Remove)"
This lab is a measure of an **Unspecified specimen, body fluid, or substance**, the original annotations for the following results should be removed for reasons described in **issue #32**:
  - LOINC 26455-6 (Normal) annotated to HP:0020058

[2019-02-21 13:07] pnrobinson opened #86 "lung function test abnormalities"
see https://github.com/obophenotype/human-phenotype-ontology/issues/4411

[2019-02-21 13:23] pnrobinson opened #87 "Globulin level"
see https://github.com/obophenotype/human-phenotype-ontology/issues/4393

[2019-02-21 13:31] pnrobinson opened #88 "cancer Ag 19-9 level"
see https://github.com/obophenotype/human-phenotype-ontology/issues/4355

[2019-02-22 06:51] callahantiff opened #89 "LOINC 11555-0: Base excess in Blood by calculation (update annotation)"
Per [HPO issue #4021](https://github.com/obophenotype/human-phenotype-ontology/issues/4021) update the annotation for LOINC 11555-0 from NOT(HP:0004360) to NOT(HP:0032281).

[2019-02-22 06:53] callahantiff opened #90 "LOINC 1988-5: C reactive protein [Mass/volume] in Serum or Plasma (update annotation)"
Update the annotation for a normal result on this lab from NOT(HP:0011227) to NOT(HP:0010876).

[2019-02-22 06:56] callahantiff opened #91 "LOINC 6071-5: Chicken meat IgE Ab [Units/volume] in Serum (update annotation)"
Change annotation from NOT(HP:0410227) to NOT(HP:0410233) -- (Increased anti-meat allergen IgE antibody level).

[2019-02-22 06:57] callahantiff commented on #91
Additionally, change annotation for a high result from HP:0410227 to HP:0410233 -- (Increased anti-meat allergen IgE antibody level).

[2019-02-22 07:03] callahantiff opened #92 "LOINC 4563-3: Hemoglobin C/Hemoglobin.total in Blood (update annotation)"
Update the following annotations:
  - **NORMAL:** change NOT(HP:0011902) to NOT(HP:0032146)
  - **HIGH:** change HP:0011902 to HP:0032146

[2019-02-22 07:05] callahantiff opened #93 "LOINC 4576-5: Hemoglobin F/Hemoglobin.total in Blood (update annotation)"
Update the annotation for a normal result on this lab from NOT(HP:0011902) to NOT(HP:0011904).

[2019-02-22 07:06] callahantiff opened #94 "LOINC 19113-0: IgE [Units/volume] in Serum or Plasma (update annotation)"
Update the annotation for a normal result on this lab from NOT(HP:0010701) to NOT(HP:0410241).

[2019-02-22 07:07] callahantiff opened #95 "LOINC 2465-3: IgG [Mass/volume] in Serum or Plasma (update annotation)"
Update the annotation for a normal result on this lab from NOT(HP:0010701) to NOT(HP:0410242).

[2019-02-22 07:08] callahantiff opened #96 "LOINC 2472-9: IgM [Mass/volume] in Serum or Plasma (update annotation)"
Update the annotation for a normal result on this lab from NOT(HP:0010701) to NOT(HP:0410243).

[2019-02-22 07:12] callahantiff opened #97 "LOINC 5902-2: Prothrombin time (PT) (update annotation)"
Update the annotation for a normal result on this lab from NOT(HP:0008151) to NOT(HP:0032199) as there is data to support both high and low results.

[2019-02-22 07:20] callahantiff opened #98 "LOINC 3107-0: Urobilinogen [Mass/volume] in Urine (update annotation)"
Update annotation for a **low** result on this lab from HP:0031890 to NOT(HP:0031890).

[2019-02-22 22:08] kingmanzhang commented on #98
our annotation tool has a bug that prevent us from doing this. I am currently removing this annotation and add back in after fixing the bug.
https://github.com/monarch-initiative/loinc2hpo/issues/94

[2019-02-22 22:10] callahantiff commented on #98
If it's easier, I can just update it when I add the other codes for the next pull request (planned for tomorrow :D)? Or do you prefer to do it? Either way is fine by me!

[2019-02-22 22:12] kingmanzhang commented on #98
However, I do have a concern here--we are overriding the medical interpretation. If a lab system thinks a value is too low (L), we should probably also think so. But by assigning the L to a normal phenotype, we are basically saying their interpretation is wrong. I think we are probably doing too much.

[2019-02-22 22:14] kingmanzhang commented on #97
done

[2019-02-22 22:14] #97 closed

[2019-02-22 22:15] kingmanzhang commented on #96
done

[2019-02-22 22:15] #96 closed

[2019-02-22 22:16] kingmanzhang commented on #95
done

[2019-02-22 22:16] #95 closed

[2019-02-22 22:16] kingmanzhang commented on #94
done

[2019-02-22 22:16] #94 closed

[2019-02-22 22:17] kingmanzhang commented on #93
done

[2019-02-22 22:17] #93 closed

[2019-02-22 22:19] kingmanzhang commented on #92
done

[2019-02-22 22:19] #92 closed

[2019-02-22 22:20] kingmanzhang commented on #91
done

[2019-02-22 22:20] #91 closed

[2019-02-22 22:23] kingmanzhang commented on #89
done.
also added H -> HP:0032281

[2019-02-22 22:23] #89 closed

[2019-02-22 22:31] callahantiff commented on #98
Currently, this annotation is incorrect. A low lab result does not imply "Increased urine urobilinogen", which is how it is currently annotated. I did some investigating before I made this issue and found that low urine urobilinogen is not clinically meaningful, which is why I was inclined to annotate it as NOT(Increased urine urobilinogen). See: https://www.labce.com/spg506382_clinical_significan

[2019-02-22 22:32] pnrobinson commented on #98
Actually, I think there may be a medically relevant too low phenotype for this, see
https://medlineplus.gov/lab-tests/urobilinogen-in-urine/

[2019-02-22 22:38] callahantiff commented on #98
OK, fair enough! It's sometimes challenging (but still fun) to know what source to trust when reviewing these labs.

In that case I think a new terms are needed for:
  - Abnormal urine urobilinogen
  - Decreased urine urobilinogen

Should I make a new issue for these?

[2019-02-22 22:38] pnrobinson commented on #98
Yes, let's make NTRs!

[2019-02-22 22:39] callahantiff commented on #98
Woo hoo! I'm on it! :D

[2019-02-23 04:05] kingmanzhang commented on #98
[code]

I do have some hesitation. I know we talked about this during last meeting, but I think it is best to keep such results not annotated and tell user that we cannot map such results. Because if a clinical lab reports a lab value as **abnormally** low, we should not override it. Unless we agree that abnormally low value is medically meaningful (and thus map it to a value different than normal

[2019-02-23 18:02] callahantiff commented on #98
OK, I will not add these types of annotations in the next pull request.

[2019-02-25 03:37] kingmanzhang commented on #90
HP:0011227
Elevated C-reactive protein level

HP:0010876
Abnormal circulating protein level

Why change it to a less specific term?

[2019-02-25 03:42] kingmanzhang commented on #85
done

[2019-02-25 03:42] #85 closed

[2019-02-25 03:43] kingmanzhang commented on #84
done

[2019-02-25 03:43] #84 closed

[2019-02-25 03:47] kingmanzhang commented on #67
done

[2019-02-25 03:47] #67 closed

[2019-02-25 03:48] kingmanzhang commented on #83
done

[2019-02-25 03:48] #83 closed

[2019-02-25 04:35] kingmanzhang opened #100 "add back this commit"
https://github.com/TheJacksonLaboratory/loinc2hpoAnnotation/commit/7764f98dfb2ab808449f28830dc95d70b5f88927

[2019-02-25 11:07] pnrobinson commented on #90
This should be  Elevated C-reactive protein level I think?

[2019-02-25 13:29] kingmanzhang commented on #87
done

[2019-02-25 13:29] #87 closed

[2019-02-25 13:34] kingmanzhang commented on #88
done

[2019-02-25 13:34] #88 closed

[2019-02-25 13:36] kingmanzhang commented on #81
done

[2019-02-25 13:36] #81 closed

[2019-02-25 13:38] kingmanzhang commented on #51
I saw it corrected now.

[2019-02-25 13:38] #51 closed

[2019-02-25 13:39] kingmanzhang commented on #62
done

[2019-02-25 13:39] #62 closed

[2019-02-25 14:04] kingmanzhang commented on #100
done

[2019-02-25 14:04] #100 closed

[2019-02-25 14:09] kingmanzhang commented on #80
done

[2019-02-25 14:09] #80 closed

[2019-02-25 14:11] kingmanzhang commented on #72
I think this can be closed.

[2019-02-25 14:11] #72 closed

[2019-02-25 17:03] kingmanzhang commented on #53
The L annotation to HP:0031965 is wrong and I have removed it. I am closing this ticket now.

[2019-02-25 17:03] #53 closed

[2019-02-25 17:09] kingmanzhang opened #101 "LOINC 1742-6 Alanine aminoransferase in serum or blood"
The L value was mapped to HP:0031965 Elevated serum alanine aminitransferase. I Believe it is a mistake and have removed it. @LCCarmody

[2019-02-25 17:16] kingmanzhang opened #102 "LOINC 8453-3, 8454-1, 8455-8 blood pressure"
The L and H mappings seem flipped. I have switched them back. @callahantiff

[2019-02-25 17:27] callahantiff commented on #102
Weird! Something must have transferred over incorrectly because they are OK in my original copy. Sorry about that and thanks for adjusting!

[2019-02-25 17:29] callahantiff commented on #101
@nicolevasilevsky had verified this annotation in my spreadsheet and said it was correct for a low lab result if it was negated. That's how I have it listed. Is that now not correct?

[2019-02-25 18:06] kingmanzhang opened #103 "review LOINC 3040-3 Lipase(Enzymatic activity/volume)"
@nicolevasilevsky

[2019-02-25 18:09] callahantiff commented on #90
I had opted to change it to HP:0010876 because for this LOINC lab I had data for both low and high results. Perhaps  a new parent new is needed for HP:0011227 (high) and HP:0030795 (low) in order to annotated a normal result on this lab?

[2019-02-25 18:12] kingmanzhang opened #104 "Review LOINC 27340-9"
@nicolevasilevsky

[2019-02-25 18:14] kingmanzhang opened #105 "LOINC 15152-2 is Qn"
It is a quantitative test and should not be mapped to positive, negative codes.

[2019-02-25 18:15] kingmanzhang commented on #105
@callahantiff

[2019-02-25 18:17] kingmanzhang opened #106 "Review LOINC 28541-1"
@callahantiff

[2019-02-25 18:18] callahantiff opened #107 "LOINC 3034-6: Transferrin [Mass/volume] in Serum or Plasma (update annotation)"
With the new terms added for transferrin (see [issue # 4139](https://github.com/obophenotype/human-phenotype-ontology/issues/4139)), we will want to update the following annotations:
  - **Normal:** NOT(HP:0011031) -->  NOT(HP:0032385)
  - **Low:** HP:0011031 -->  HP:0032387
  - **High:** HP:0011031 -->  HP:0032386

[2019-02-25 18:20] kingmanzhang opened #108 "Review LOINC 26506-6"
@callahantiff

[2019-02-25 18:21] kingmanzhang opened #109 "Review LOINC 28598-1"
@callahantiff

[2019-02-25 18:22] kingmanzhang opened #110 "Review LOINC 28606-2"
@callahantiff

[2019-02-25 18:23] kingmanzhang opened #111 "Review LOINC 4546-8, 4552-6"
@callahantiff

[2019-02-25 18:25] kingmanzhang opened #112 "Review LOINC 4625-0"
The H term is not correct

[2019-02-25 18:25] kingmanzhang commented on #112
@callahantiff

[2019-02-25 18:26] callahantiff commented on #105
Yes, totally right! Sorry for not including those. I have a question on the annotation, but am meeting with Nicole tomorrow to clarify them. I can post here after the meeting.

[2019-02-25 18:28] kingmanzhang commented on #82
Have assigned to individuals

[2019-02-25 18:28] #82 closed

[2019-02-25 18:32] kingmanzhang commented on #90
If Reduced C-ractive protein is medically meaningful, then we should create one.

Also pay attention to C-reactive protein and c-peptide. They are different.

[2019-02-25 18:37] callahantiff commented on #90
Completely agree, thanks for pointing this out. @nicolevasilevsky reviewed my initial annotations for this and suggested HP:0011227 for a high result on this lab.  I have a meeting with her tomorrow and will verify this.

[2019-02-25 18:40] nicolevasilevsky commented on #90
@callahantiff sounds good to review tomorrow. Apologies for the mistakes with some of my review!

[2019-02-25 19:16] nicolevasilevsky commented on #101
@kingmanzhang what should we do in these cases? Should we leave the low value blank?

[2019-02-25 19:18] nicolevasilevsky commented on #104
This annotation looks okay to me. Did you have a question about it, or did you just want me to double check?

[2019-02-25 19:41] kingmanzhang commented on #104
Sorry, I meant to ask you double check that they are correct so that I
remove the flag from it. You can remove the flag by editing the annotation,
or make a note and I will take care of it.

On Mon, Feb 25, 2019 at 2:18 PM Nicole Vasilevsky <notifications@github.com>
wrote:

--

[2019-02-25 19:44] nicolevasilevsky commented on #106
In this case, the normal value is annotated to NOT 'Abnormal number of granulocyte precursors', but this is not the parent of 'increased circulating metamyelocyte count'. Could we annotate the normal value as NOT 'increased circulating metamyelocyte count'?

[2019-02-25 19:50] nicolevasilevsky commented on #104
@kingmanzhang would you mind removing the flag? I just restarted the app and got the error that says there is an error loading the annotation data, so I don't want to accidentally delete the annotations.

[2019-02-25 19:55] nicolevasilevsky commented on #110
This code is for 1-Methylhistidine/Creatine [Ratio] in Urine and it is currently annotated to Abnormality of amino acid metabolism.

@callahantiff requested a new term for this code, see https://github.com/obophenotype/human-phenotype-ontology/issues/4471

We should update this once this has been added to HPO

[2019-02-25 19:57] callahantiff commented on #110
Thanks Nicole, sorry for not responding sooner. I have this term marked and was planning on updating as you described.

[2019-02-25 20:02] callahantiff commented on #108
@nicolevasilevsky this one was a tricky one. I think we may want a series of new terms for annotating this.

Would you suggest something like:
- Abnormality of neutrophil morphology in CSF
- Hyposegmentation of neutrophil nuclei in CSF
- Hypersegmentation of neutrophil nuclei in CSF

Where the parent term for Abnormality of neutrophil morphology in CSF would be Abnormality of the cerebrospinal flu

[2019-02-25 20:02] nicolevasilevsky commented on #111
This one looks okay to me

[2019-02-25 20:03] callahantiff commented on #109
We requested a new term be added for this [issue #4476](https://github.com/obophenotype/human-phenotype-ontology/issues/4476). I am happy to update this annotation once a new term is available.

[2019-02-25 20:10] callahantiff commented on #111
Agreed, the annotations to 4546-8 and 4552-6, specifically:
-**Normal:**  NOT(HP:0011902)
- **Low:** HP:0011905
- **High:** HP:0011902

look good. We could consider adding a new term for the high Hemoglobin A2 (4552-6) result since that appears to also be abnormal (https://en.wikipedia.org/wiki/Hemoglobin_A2).

I'm not sure what a more specific term for 4546-8 would be.

[2019-02-25 20:16] kingmanzhang commented on #101
Sorry it must be my software bug that overwrites your negation. I think we should leave the low value blank if we think low value is normal. (Also because of my software bug, we have to leave it blank now. --will fix later). I will talk to Peter about this.

[2019-02-25 20:18] callahantiff commented on #112
The high result for this lab is annotated to (HP:0045057) HbS Hemoglobin. Why is that not correct? The [sources](https://www.ucsfbenioffchildrens.org/tests/003639.html) I found state that a normal result is 0%. So in this case wouldn't we treat  the high and low lab results the same? Perhaps I am misunderstanding.

[2019-02-25 20:19] callahantiff commented on #101
Ok, sounds good!

[2019-02-25 21:07] kingmanzhang commented on #112
oh, this is beyond my ability. I initially thought this was a simple error by judging what the terms reads like... I created this ticket because you put a flag on it, so I thought you request someone to double check. I will hand this to you and @nicolevasilevsky.

[2019-02-25 21:10] kingmanzhang commented on #111
ok, I have removed the flags from them.

[2019-02-25 21:10] #111 closed

[2019-02-25 21:11] kingmanzhang commented on #107
done

[2019-02-25 21:11] #107 closed

[2019-02-25 21:12] kingmanzhang commented on #104
done

[2019-02-25 21:12] #104 closed

[2019-02-25 21:13] kingmanzhang commented on #102
done

[2019-02-25 21:13] #102 closed

[2019-02-25 21:13] kingmanzhang commented on #101
done

[2019-02-25 21:13] #101 closed

[2019-02-25 21:24] kingmanzhang commented on #77
done

[2019-02-25 21:24] #77 closed

[2019-02-25 21:26] kingmanzhang commented on #50
done

[2019-02-25 21:26] #50 closed

[2019-02-25 21:26] nicolevasilevsky commented on #103
this looks good to me

[2019-02-25 21:30] kingmanzhang commented on #86
https://github.com/obophenotype/human-phenotype-ontology/issues/4411
done

[2019-02-25 21:30] #86 closed

[2019-02-25 21:36] pnrobinson commented on #103
I think the problem is that there are multiple lipases, and I am not sure which this is. Could this be a legacy test that is not used much anymore or do people still test for generic lipase activity?

[2019-02-25 21:40] nicolevasilevsky commented on #103
according to these articles, it seems like generic lipase activity tests are still done:
https://www.healthline.com/health/lipase-test
https://www.ncbi.nlm.nih.gov/pubmed/27015625

[2019-02-25 21:46] pnrobinson commented on #103
live&learn :=0

[2019-02-25 23:32] nicolevasilevsky commented on #108
@pnrobinson do we want to create terms that specify that the hypo/hyper segmented neutrophils are present in the CSF or would using the HP_0004821 'Hypersegmentation of neutrophil nuclei' and HP_0011447 'Hyposegmentation of neutrophil nuclei' be sufficient?

[2019-02-26 02:57] kingmanzhang opened #115 "add biocurators information"

[2019-02-26 11:50] pnrobinson commented on #108
The latter classes are meant to mean in the blood, and that would be 99% of actual use cases. We should make exact synonyms for the latter terms along the lines of " ... in peripheral blood".
I think the only way is to have separate CSF terms for the above.

[2019-02-26 13:39] kingmanzhang opened #116 "data info"
Refactor readme to a document describing file info. Put the current stuff to a separate annotation tutorial document, or merge to stuff on loinc2hpo page.

[2019-02-26 22:50] callahantiff commented on #112
@kingmanzhang I spoke with @nicolevasilevsky and given that anything >0% is abnormal, we think the annotations could be:
  -  **Normal:** NOT(HP:0045057)
  - **High:** HP:0045057
  - **Low:** None

I think the same annotations would also need to be made for [LOINC:32683-5](https://s.details.loinc.org/LOINC/32683-5.html?sections=Comprehensive). What do you think @kingmanzhang? If you agree, then th

[2019-02-26 22:57] callahantiff commented on #106
I agree that the normal result for this lab should be annotated to **NOT(increased circulating metamyelocyte count)**. It looks like the normal result was annotated prior to this concept being added to the HPO, which could be why it is not the current annotation for a normal result.

@kingmanzhang I'm happy to submit a request to update this annotation (would also be happy to change the annotation

[2019-02-26 23:02] callahantiff commented on #90
@kingmanzhang discussed this with @nicolevasilevsky today and decided it was best to added a new term for this result. I have requested it and linked it to this issue.

[2019-02-26 23:07] callahantiff commented on #105
Looks like the following annotations should be made:
  - **Normal:** NOT(HP:0002908)
  - **Low:** None
  - **High:** HP:0002908

Low levels of this lab do not seem to be problematic. An annotation to the high result should already exist (made on 2018-05-08T08:42:38).

[2019-02-27 00:32] nicolevasilevsky commented on #115
I added mentions of @callahantiff, @jpgourdine, @LCCarmody and myself to the release notes:
https://github.com/TheJacksonLaboratory/loinc2hpoAnnotation/releases

Am I missing anyone?

[2019-02-27 01:01] nicolevasilevsky commented on #108
@callahantiff I added these terms:
HP_0410310 'Abnormality of neutrophil morphology in CSF'
HP_0410312 'Hypersegmentation of neutrophil nuclei in CSF'
HP_0410311 'Hyposegmentation of neutrophil nuclei in CSF'

(FYI, I added them as children of Abnormality of the cerebrospinal fluid, and added the logical definition to HP_0410310 below, so now they are asserted as children of Abn of CSF, but are in

[2019-02-27 01:15] callahantiff commented on #108
Thank you, that makes sense to me!

[2019-02-27 02:36] kingmanzhang commented on #112
I agree with this revision.

On Tue, Feb 26, 2019 at 5:50 PM Tiffany J. Callahan <
notifications@github.com> wrote:

--

[2019-02-27 02:38] kingmanzhang commented on #106
Why not you hold the revisions until we show you how to use our tools to
directly update the annotations? I can show you how to use it later this
week or next week after we  submit the revision.

On Tue, Feb 26, 2019 at 5:57 PM Tiffany J. Callahan <
notifications@github.com> wrote:

--

[2019-02-27 02:39] kingmanzhang commented on #90
Sounds good.

On Tue, Feb 26, 2019 at 6:02 PM Tiffany J. Callahan <
notifications@github.com> wrote:

--

[2019-02-27 02:40] kingmanzhang commented on #115
Add Peter and me as well.

On Tue, Feb 26, 2019 at 7:32 PM Nicole Vasilevsky <notifications@github.com>
wrote:

--

[2019-02-27 02:41] nicolevasilevsky commented on #115
Oh geez, of course, sorry! :) you're added now

[2019-02-27 02:42] callahantiff commented on #106
Absolutely, I love that idea! Looking forward to learning all about the tools!

[2019-02-27 02:42] nicolevasilevsky commented on #115
closing, reopen if any other changes are needed

[2019-02-27 02:42] #115 closed

[2019-03-02 13:56] pnrobinson opened #119 "HDL subfractions"
see https://github.com/obophenotype/human-phenotype-ontology/issues/3781

[2019-03-08 18:18] kingmanzhang opened #120 "review the following terms"
Some of them, if not all, may not need a mapping to high

 1 27811-9
 2 50609-7
 3 15082-1
 4 1825-9
 5 4563-3
 6 19870-5
 7 20150-9
 8 19935-6
 9 19877-0
10 19875-4
11 20155-8
12 32683-5
13 71848-6|71849-4

[2019-03-15 00:00] jpgourdine opened #121 "LOINC 2397-8 Glycoproteins [Presence] in Urine"
@pnrobinson @nicolevasilevsky Should we create a child term for presence of glycoproteins in urine (parent term Proteinuria, HP:0000093) or just match it with Proteinuria (HP:0000093)?

Contrary to glycopeptides,  aminoglycans and free glycans, I have not found significant lab test on presence of glycoproteins in the urine (there are present in the urine in the controls, specific ones might be ind

[2019-03-22 21:19] kingmanzhang opened #122 "robot and dosdp-tools"
Amy reported that they are now required for building hp.obo. To test this and revise documentation.

[2019-03-22 21:21] kingmanzhang opened #123 "add LOINC license and our license"
"This product includes all or a portion of the LOINC Table, LOINC Table Core, LOINC Panels and Forms File, LOINC Answer File, LOINC Part File, LOINC Group File, LOINC Document Ontology File, LOINC Hierarchies, LOINC Linguistic Variants File, LOINC/RSNA Radiology Playbook, LOINC/IEEE Medical Device Code Mapping Table, and LOINC Display Name File or is derived from one or more of the foregoing, subj

[2019-03-25 07:39] pnrobinson commented on #122
They are only necessary if we want to create an hp.obo between builds. It is better, now that we have lots of annotations, just to take the main hp.obo file and to not use the hp-edit.owl file at all.

[2019-03-25 13:29] kingmanzhang commented on #122
We are only doing this for our biocurators. They will still need to build hp.obo between builds if they want to annotate with newly created terms.

[2019-05-03 18:27] #110 closed

[2019-05-03 18:27] kingmanzhang commented on #110
done

On Mon, Feb 25, 2019 at 2:57 PM Tiffany J. Callahan <
notifications@github.com> wrote:

--

[2019-05-03 18:58] kingmanzhang commented on #86
done

On Thu, Feb 21, 2019 at 8:07 AM Peter Robinson <notifications@github.com>
wrote:

--

[2019-05-03 19:00] kingmanzhang commented on #78
done

[2019-05-03 19:22] kingmanzhang commented on #59
done

On Sun, Jan 20, 2019 at 11:22 AM Peter Robinson <notifications@github.com>
wrote:

--

[2019-05-16 12:38] kingmanzhang commented on #123
done

[2019-05-16 12:38] #123 closed

[2019-05-16 12:38] kingmanzhang commented on #122
done

[2019-05-16 12:38] #122 closed

[2019-05-16 12:38] kingmanzhang commented on #116
done

[2019-05-16 12:38] #116 closed

[2019-05-17 19:11] kingmanzhang commented on #61
--

[2019-09-16 16:38] kingmanzhang opened #125 "annotate labs from OHSU data"
https://github.com/data2health/ehr2HPO.prj/issues/8

[2020-05-05 20:04] linikujp opened #126 "LOINC to HPO mapping per COVID-19"
**Resources:**

- LOINC pre-released COVID-19 related terms:
https://loinc.org/sars-coronavirus-2/

- FDA EUA authorized IVD tests:
https://www.fda.gov/medical-devices/emergency-situations-medical-devices/emergency-use-authorizations#covid19ivd

**Examples to model**
Roche Elecsys anti-SARS-CoV-2 serology antibody test
Roche Cobas SARS-CoV-2 (for non-specified gene, maybe full coronavirus test)?
A

[2020-05-09 14:00] pnrobinson opened #127 "COVID tests"
https://jamanetwork.com/journals/jama/fullarticle/2765837?utm_source=silverchair&utm_campaign=jama_network&utm_content=covid_weekly_highlights&utm_medium=email

[2020-05-18 10:57] pnrobinson opened #128 "Update"
This is a proxy issue for the project board -- let's review all of the open issues on this board.

[2020-05-21 03:15] kingmanzhang commented on #126
Thanks @linikujp ! @pnrobinson Are you planning to add "SARS-CoV-2 positivity" to HPO?

[2021-10-26 23:29] pnrobinson opened #132 "Simplify repository structure"
The repository should contain the main annotation file and little else. Make a tagged release and simplify!

[2021-10-29 10:36] #132 closed, assigned to nobody

[2021-10-29 10:39] pnrobinson opened #134 "A code"
We have some annotations like this:
[code]
but also a few like this
[code]
I think we can drop the annotations with the 'A" code because we can infer them from the 'N' code. Also, there is no need to has the isNegated column because the 'N' code is always negated and none of the other codes are negated.

[2021-10-29 10:57] pnrobinson opened #135 "@original comment: copied from: 16138-0"
The annotation file has comments like this that do not appear to add useful information
[code]
What does this mean actually?

[2021-10-29 11:17] pnrobinson opened #137 "Proposed new annotation format"
Please see README and [loinc2hpo-annotations.tsv](https://github.com/TheJacksonLaboratory/loinc2hpoAnnotation/blob/master/loinc2hpo-annotations.tsv). I think this format is a little easier to understand. Also, POS and NEG are typically misunderstood and I think it would be clearer to replace them with PRESENT and ABSENT.
Thoughts?
@iimpulse

[2021-10-30 14:03] kingmanzhang commented on #134
The initial thinking was "A" might be annotated differently than pure negation of "N". But in later annotation it did not happen. So in this sense, "A" can be removed.

(A slight downside is in the use of the file. "A" would probably appear in transformed lab results. We will let a user know that they need to figure out the annotations from "N" to "A" for themselves.)

[2021-10-30 14:09] kingmanzhang commented on #135
It is not intended to be useful for the use of the file, but rather for tracking how an annotation was made. This happens due to a feature asked from our awesome annotators: let us copy the annotations from one LOINC to another because we know they would be annotated identically. I want to track this behavior in case we need to diagnose why an annotation is made in a specific way.

It is not usefu

[2021-10-30 14:24] kingmanzhang commented on #137
The new table looks awesome!

POS and NEG were chosen because they were standard concepts in FHIR (along with L, H, N, A). Back then we thought relying on some existing vocabulary rather than inventing new ones will help adoption.

https://www.hl7.org/fhir/v3/ObservationInterpretation/cs.html

If you look at the FHIR vocabulary, it also has similar concepts to PRESENCE/ABSENCE, ND and DET, but the

[2021-10-30 14:29] kingmanzhang commented on #137
Looking at the above table, ND/DET could replace NEG/POS?

[2021-10-30 19:42] pnrobinson commented on #134
Well, I guess one of the most important rules in software development is to not duplicate things. Having N and A annotations that mean almost the same things would be a source of confusion for users of the file or of the library. I think we also need to imrove the documentation to cover this though

[2021-10-31 15:23] kingmanzhang commented on #134
Agreed

[2021-11-04 15:18] pnrobinson opened #140 "Narrative annotations"
We have the following annotations
[code]
but I do not think we are able to handle narrative annotations with this kind of outcome code. @callahantiff @kingmanzhang @nicolevasilevsky @iimpulse
I would suggest removing this because we cannot decode it without knowing what do do with narrative outcomes.

Nicole, do you remember the use case?

[2021-11-04 15:31] pnrobinson opened #141 "Ammonia [Moles/volume] in Blood"
We need to add an HPO term for Abnormal circulating ammonia concentration
The following are low and high
I am adding Abnormal circulating nitrogen compound concentration HP:0004364 for now to keep the Q/C happy but this needs to be updated.
[code]

[2021-11-04 15:32] pnrobinson commented on #140
Here is a full list of NAR annotations that I am skipping for now. We can re annotate them if desired.

Skipping annotation because scale==Unknown
35094-2 (Unknown/N): HP:0030972 ; JGM:azhang[2018-06-19T17:27:29]
Skipping annotation because scale==Unknown
35094-2 (Unknown/POS): HP:0000822 ; JGM:azhang[2018-06-19T17:27:29]
Skipping annotation because scale==Unknown
35094-2 (Unknown/H): HP:0000822 ;

[2021-11-04 16:25] pnrobinson opened #142 "2118-8"
2118-8  Choriogonadotropin (pregnancy test) [Presence] in Serum or Plasma

We cannot annotate this using HPO! @callahantiff
I am removing these annotations.

[code]

The HPO term refers to a high level of Choriogonadotropin in a woman known to be pregnant. For instance, in Down syndrome, Choriogonadotropin goes up much higher than on pregnancies without Down syndrome

[2021-11-04 16:26] pnrobinson commented on #142
If we need to have a LOINC annotation for   Choriogonadotropin in this sense, please create a new annotation!

[2021-11-04 16:42] pnrobinson opened #143 "26971-2"
The following is a mistake in the annotation file. Ordinal annotations are either absent or present, not N or H.
We should add in Q/C for this also in the Python code @callahantiff @iimpulse
I am working on the Q/C script in the Java version (https://github.com/monarch-initiative/loinc2hpo, see the CLI module), we should probably set up a travis build using this as a check and/or add in more Q/C t

[2021-11-04 16:43] pnrobinson commented on #143
I fixed the annotation file

[2021-11-04 16:46] callahantiff commented on #143
Thanks for catching this. Although, this is an interesting example for thinking through tests. In the data that I have access to in Colorado there are actually numeric values and reference ranges provided for this test, rather than a category response. While I realize that we can easily account for this situation, I am wondering if we want to discuss heuristics for all scale types?

[2021-11-04 16:47] callahantiff commented on #142
Thanks for the heads up on this!

[2021-11-04 16:55] pnrobinson opened #144 "31017-7"
@callahantiff  -- this small mistake might need correction in OMOP2OBO

[code]
https://loinc.org/31017-7/

should be
https://hpo.jax.org/app/browse/term/HP:0033563

Abnormal immunoglobulin level HP:0010701 -- is incorrect

[2021-11-04 16:56] pnrobinson commented on #144
I corrected this in the loinc2hpo file

[2021-11-04 16:59] nicolevasilevsky commented on #140
@pnrobinson No, I don't remember the exact use case. I have no issues with removing these.

[2021-11-04 17:00] callahantiff commented on #144
Thanks @pnrobinson! I also caught that and have a note to fix it! :D I have to make a pass and update my annotations for anything new that's been added to HPO after October 2020.

[2021-11-04 17:04] callahantiff commented on #144
Another example of a CI/CD check we should probably make. Looking for relevant new annotations in the HPO that might warrant updating a borad annotation.

[2021-11-04 17:52] #142 closed

[2021-11-04 17:52] pnrobinson commented on #140
OK, let's remove them for now, it is not worth adding the logic for these annotations unless we had a ton of them

[2021-11-04 17:52] #140 closed

[2021-11-04 17:54] pnrobinson commented on #137
I think NEG and POS are more general terms. I will finalize the conversion to the new format. The loinc2hpo library now expects that new format as well and runs through without errors.

[2021-11-04 17:54] #137 closed

[2021-11-04 19:02] pnrobinson commented on #143
So essentially the original LOINC data was "malformed"? I guess that we could adapt the logic for ordinal tests to report PRESENT/POSITIVE/ABNORMAL for HIGH values, would that be good?

[2021-11-05 00:25] callahantiff commented on #143
Maybe we can talk through a few example use cases tomorrow? I am wondering if it might be useful to run some quick analyses in the Enclave to produce the counts of how many ordinal tests have patient-level data that's PRESENT/ABSENT versus H/L/N. My experience with the data is telling one thing and my desire for clear cut rules is telling me something else.

What do you think about that? I'm just

[2021-11-06 23:50] pnrobinson commented on #112
There currently is no HPO term for increased hemoglobin S (which is the sickle cell hemoglobin). I will make a term request.
https://github.com/obophenotype/human-phenotype-ontology/issues/7201

[2021-11-07 19:21] pnrobinson commented on #109
added annotation (first with new software!)

[2021-11-07 19:21] #109 closed

[2021-11-07 19:32] pnrobinson commented on #106
https://loinc.org/28541-1/   Metamyelocytes/100 leukocytes in BloodActive

Increased circulating metamyelocyte count HP:0032238

[2021-11-07 20:43] pnrobinson commented on #106
Fixed to this 28541-1	Qn	N	HP:0032238	.	HP:probinson[2021-11-07]

[2021-11-07 20:43] #106 closed

[2021-11-07 22:28] pnrobinson commented on #90
Fixing this it was C-peptide instead of C-reactive protein (etc).

[2021-11-07 22:28] #90 closed

[2021-11-07 22:36] pnrobinson commented on #65
added

[2021-11-07 22:36] #65 closed

[2021-11-07 22:45] pnrobinson commented on #36
@nicolevasilevsky I think this is what you were talking about

Taken together, both the in vivo and in vitro studies strongly support the view that the CD4+CD25+ population represents a unique lineage of regulatory T cells. However, CD25, the most suitable marker for identification of this population, is also expressed by all recently activated T cells. Although the mere acquisition of CD25 expres

[2021-11-07 22:46] pnrobinson commented on #36
added

[2021-11-07 22:46] #36 closed

[2021-11-07 22:48] pnrobinson commented on #31
Closing this, see comments in https://github.com/obophenotype/human-phenotype-ontology/issues/3616

[2021-11-07 22:48] #31 closed

[2021-11-07 22:50] pnrobinson commented on #121
I found this
Increased urinary orosomucoid HP:0032377 (synonym   Increased urinary alpha-1-acid glycoprotein)

40600-9 Alpha-1-acid glycoprotein [Presence] in Urine by Immunoelectrophoresis

Adding this annotation.

[2021-11-07 22:50] #121 closed

[2021-11-07 23:56] pnrobinson commented on #4
fixed the error.

[2021-11-07 23:56] #4 closed

[2021-11-08 00:13] pnrobinson commented on #105
The fix seems to have been already implemented, thanks

[2021-11-08 00:13] #105 closed

[2021-11-08 00:14] pnrobinson commented on #17
This has been entered previously.

[2021-11-08 00:14] #17 closed

[2021-11-08 00:14] pnrobinson commented on #134
implemented.

[2021-11-08 00:14] #134 closed

[2021-11-08 00:15] pnrobinson commented on #64
this was previously added

[2021-11-08 00:15] #64 closed

[2021-11-08 00:16] pnrobinson commented on #33
I am going to close this since we are just about to start a new wave of annotations and we will see any common annotations that are missing

[2021-11-08 00:16] #33 closed

[2021-11-08 00:17] pnrobinson commented on #14
these have been added

[2021-11-08 00:17] #14 closed

[2021-11-08 00:17] pnrobinson commented on #144
super, closing

[2021-11-08 00:17] #144 closed

[2021-11-08 00:18] pnrobinson commented on #119
this was added already

[2021-11-08 00:18] #119 closed

[2021-11-08 00:20] pnrobinson commented on #103
added annotation

[2021-11-08 00:20] #103 closed

[2021-11-08 10:45] pnrobinson commented on #143
closing -- let's continue the convo about the enclave elsewhere

[2021-11-08 10:45] #143 closed

[2021-11-08 10:47] pnrobinson commented on #128
stale

[2021-11-08 10:48] pnrobinson commented on #73
I do not see any open action item. @callahantiff happy to add more annotations if needed, but we will need to collect the LOINC ids. The new annotation app is ready.

[2021-11-08 10:48] #73 closed

[2021-11-08 11:04] pnrobinson commented on #63
https://github.com/obophenotype/human-phenotype-ontology/issues/7202

[2021-11-08 15:00] callahantiff commented on #143
Sounds good!

[2021-11-08 15:58] callahantiff commented on #73
Sounds great @pnrobinson! I am so pumped about the app! I will download and take a look at it today!

[2021-11-10 12:08] pnrobinson commented on #35
IgM often follows an acute infection but the other antibody types persist after infection. This will require a case by case analysis, I will close this now but we do need a better way of dealing with all of the antibodies -- this is what the supplemental ontology term could be

[2021-11-10 12:08] #35 closed

[2021-11-10 13:53] pnrobinson commented on #63
added as  HP:0025659 on Nov 10

[2021-11-10 13:55] pnrobinson commented on #112
The term already existed as HP:0045047

[2021-12-03 10:06] pnrobinson commented on #112
I added the correct annotation

[2021-12-03 10:06] #112 closed

[2021-12-03 18:39] pnrobinson commented on #71
- [ ] 20159-0   Maximum voluntary ventilation (need new HPO term)
- [x] 20155-8FEV1 --post bronchodilation (Decreased post-bronchodilator forced vital capacity HP:0032357)
- [x] 19870-5Forced vital capacity [Volume] Respiratory system (https://hpo.jax.org/app/browse/term/HP:0032341)
- [x] 19877-0Forced vital capacity [Volume] Respiratory system --pre bronchodilation (Decreased pre-bronchodilator f

[2021-12-03 18:40] pnrobinson commented on #71
@callahantiff  we should use the same term for the abnormal and normal results, because not having one of these items does not imply NOT Abnormality On Pulmonary Function Testing (HP:0030878) -- other abnormalities could be present!

[2021-12-03 19:03] callahantiff commented on #71
OK, that makes perfect sense to me!

[2021-12-04 13:15] pnrobinson opened #150 "30385-9Erythrocyte distribution width [Ratio]Active"
30384-2 (Erythrocyte distribution width [Entitic volume]) n=4619968
30385-9 (Erythrocyte distribution width [Ratio]) n=4335575

I am not sure I understand the difference between these two tests. Do they both map to
[Increased RBC distribution width HP:0031965](https://hpo.jax.org/app/browse/term/HP:0031965)? Is reduced distribution width relevant?

[2022-01-11 19:03] morales-felix commented on #90
Happy New Year! I encountered something unexpected when reviewing the mapping to HPO terms, in which four LOINC codes of various proteins are mapped to Abnormal circulating protein concentration (see screenshot).
<img width="536" alt="mapping_snapshot" src="https://user-images.githubusercontent.com/12535179/149000739-1b579679-84f7-41f5-a651-ba05379b21a6.png">
Asking one of our intensive care clini